# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [7]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [20]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to do that in Python
print(a[3:])

[4, 5, 6]

In [30]:
# create a list of numbers from 1 to 100
count = list(range(1,101))
count

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [25]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
even = list(range(2, 101, 2))
even

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [26]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
x = 10
y = 5
divide = x / y
divide

2.0

In [27]:
# write a function that takes a string as input
# and return that string in all caps
"ur mom".upper()

'UR MOM'

In [67]:
# optional challenge - fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 100 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
num = list(range(1,101))
for i in num:
    if num[i] % 5 ==1 and num[i] % 3 ==1 :
        print ("fizzbuzz")
    elif num[i] % 3 ==1:
        print("fizz")
    elif num[i] % 5 ==1:
        print ("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz

IndexError: list index out of range

In [73]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
menu = {"Gyro":9, "Burger":9, "Greek Salad":8, "Philly Steak":10}
menu.items()

dict_items([('Gyro', 9), ('Burger', 9), ('Greek Salad', 8), ('Philly Steak', 10)])

In [ ]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import starbucks.csv

In [ ]:
# output the calories, sugars, and protein columns only of every 40th row.

In [ ]:
# select all rows with more than and including 400 calories

In [ ]:
# select all rows whose vitamin c content is higher than the iron content

In [ ]:
# create a new column containing the caffeine per calories of each drink

In [ ]:
# what is the average calorie across all items?

In [ ]:
# how many different categories of beverages are there?

In [ ]:
# what is the average # calories for each beverage category?

In [ ]:
# plot the distribution of the number of calories in drinks with a histogram

In [ ]:
# plot calories against total fat with a scatterplot